.contact-page {
  min-height: 100vh;
  background: #eef2e3;
  color: #091928;
}

.contact-nav {
  height: 75px;
  background: #091928;
  color: white;
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-logo {
  font-weight: 800;
  cursor: pointer;
}

.contact-logo b {
  color: #b9e92f;
  border: 2px solid #b9e92f;
  padding: 5px 9px;
  border-radius: 8px;
  margin-right: 8px;
}

.contact-nav button {
  border: 0;
  background: #b9e92f;
  color: #091928;
  padding: 10px 20px;
  border-radius: 22px;
  font-weight: 700;
}

.contact-main {
  max-width: 1050px;
  margin: auto;
  padding: 70px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.contact-info > p {
  color: #8daf17;
  font-weight: 800;
  letter-spacing: 2px;
}

.contact-info h1 {
  font-size: 48px;
  margin: 12px 0;
}

.contact-info > span {
  color: #68747b;
  line-height: 1.6;
}

.contact-points {
  margin-top: 35px;
  display: grid;
  gap: 15px;
}

.contact-points div {
  background: white;
  border-radius: 14px;
  padding: 18px;
}

.contact-points b,
.contact-points span {
  display: block;
}

.contact-points span {
  color: #68747b;
  margin-top: 5px;
}

.contact-form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.contact-form label {
  display: block;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 17px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  display: block;
  margin-top: 7px;
  padding: 13px;
  border: 1px solid var(--border);
  border-radius: 9px;
  outline: none;
}

.contact-form textarea {
  min-height: 130px;
  resize: vertical;
}

.contact-form button {
  width: 100%;
  border: 0;
  background: #b9e92f;
  color: #091928;
  padding: 14px;
  border-radius: 22px;
  font-weight: 800;
}

.success {
  background: #edf7c9;
  color: #4e6800;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 13px;
}

@media(max-width:750px) {
  .contact-main {
    grid-template-columns: 1fr;
  }
}