.scheme-page {
  min-height: 100vh;
  background: #eef2e3;
  color: #091928;
}

.scheme-nav {
  height: 75px;
  padding: 0 6%;
  background: #091928;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.scheme-logo {
  font-weight: 800;
  cursor: pointer;
}

.scheme-logo b {
  color: #b9e92f;
  border: 2px solid #b9e92f;
  padding: 6px 10px;
  border-radius: 8px;
  margin-right: 8px;
}

.scheme-nav nav {
  border: 1px solid rgba(255,255,255,.6);
  border-radius: 25px;
  padding: 3px;
  display: flex;
}

.scheme-nav nav button {
  border: 0;
  background: transparent;
  color: white;
  padding: 9px 15px;
  border-radius: 20px;
  font-size: 12px;
}

.scheme-nav nav button:hover,
.scheme-nav nav .active {
  background: rgba(255,255,255,.13);
}

.scheme-login {
  background: #b9e92f;
  border: 0;
  padding: 9px 18px;
  border-radius: 20px;
  color: #091928;
  font-weight: 700;
}

.scheme-main {
  max-width: 1150px;
  margin: auto;
  padding: 60px 25px;
}

.scheme-heading p {
  color: #8daf17;
  font-weight: 800;
  letter-spacing: 2px;
}

.scheme-heading h1 {
  font-size: 42px;
  margin: 8px 0;
}

.scheme-heading span {
  color: #68747b;
}

.scheme-search {
  margin: 35px 0;
  display: flex;
  gap: 12px;
}

.scheme-search input,
.scheme-search select {
  border: 1px solid var(--border);
  background: white;
  padding: 14px 17px;
  border-radius: 12px;
  outline: none;
}

.scheme-search input {
  flex: 1;
}

.scheme-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.scheme-card {
  background: white;
  border-radius: 18px;
  padding: 25px;
  box-shadow: var(--shadow);
}

.scheme-card-top {
  display: flex;
  justify-content: space-between;
}

.scheme-card-top span {
  color: #63710d;
  background: #edf7c9;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 700;
}

.scheme-card-top b {
  background: #b9e92f;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.scheme-card h2 {
  font-size: 21px;
  margin-top: 22px;
}

.scheme-card p {
  color: #68747b;
  line-height: 1.5;
  font-size: 14px;
}

.scheme-info {
  margin: 25px 0;
  display: grid;
  gap: 12px;
}

.scheme-info div {
  padding: 10px;
  background: #f4f6ef;
  border-radius: 9px;
}

.scheme-info small,
.scheme-info strong {
  display: block;
}

.scheme-info small {
  color: #7d878d;
  font-size: 11px;
}

.scheme-card button {
  width: 100%;
  border: 0;
  background: #091928;
  color: white;
  padding: 12px;
  border-radius: 22px;
}

@media(max-width:800px) {
  .scheme-nav nav {
    display: none;
  }

  .scheme-grid {
    grid-template-columns: 1fr;
  }
}